<form action="#" th:action="@{/apps/save}" th:object="${form}"
  method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
                <tr>
                    <th> App_code</th>
                    <th> Name</th>
                    <th> App_group</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="app, itemStat : *{apps}">
                    <td><input th:field="*{apps[__${itemStat.index}__].app_code}" /></td>
                    <td><input th:field="*{apps[__${itemStat.index}__].name}" /></td>
                    <td><input th:field="*{apps[__${itemStat.index}__].app_group}" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
